$bc:red;
$fl:left;
$fr:right;
#detail_wrapper{
	width: 100%;
	height: 615px;
	background: #f0f0f0;
	.wrap{
		width: 1192px;
		height: 615px;
		margin: 0 auto;
		padding-top: 88px;
		padding-bottom: 19px;
		.left{
			height: 510px;
		    padding: 20px;
		    width: 350px;
		    border: #ddd 1px solid;
		    position: relative;
		    padding-bottom: 60px;
		    background: white;
		    float: $fl;
		    .sbox{
				width: 150px;
			    height: 300px; 
			    position: relative;
			    margin-left: 75px;
			 	img{
			    	width: 100%;
			    	height:100%;
			    	position: absolute;
			    	
			    	&.bc{
						
			    	}
			    } 
			    .fdj{
			    	width: 75px;
			    	height: 150px;
			    	background: rgba(255,255,0,.3);
			    	position: absolute;
			    	cursor: move;
			    	display: none;
			    }
			   
		    }
		    .biggest{
		    	width: 300px;
		    	height: 600px;
		    	position: absolute;
		    	left: 300px;
		    	top: 100px;
		    	overflow: hidden; 
		    	display: none;
		    	.bImg{
		    		width: 600px;
		    		height: 1200px;
		    		position: absolute;
		    		z-index:999;
		    	}
		   	}
		    .small{
		    	width: 310px;
		    	height: 60px;
		    	margin-top: 12px;
		    	ul{
		    		margin-top: 70px;
		    		li{
		    			width: 60px;
		    			height: 60px;
		    			padding: 3px;
		    			border: 2px solid #ccc;
		    			float: $fl;
		    			margin-right: 2px;
		    			text-align: center;
		    			img{		
							width: auto;
							height: auto;
							max-width: 100%;
							max-height: 100%;
		    				cursor: pointer;
		    			}
		    		}
		    		.bc{
		    				border: 2px solid #ef4222;
		    			}
		    	}
		    }
		    .big{
	    	    border-top: #e9e9e9 solid 1px;
			    width: 348px;
			    height: 40px;
			    cursor: pointer;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    background: #f6f6f6;
			    background: url(/images/detail/big.png) no-repeat 132px center;
			    .biger{
			    	height: 40px;
			    	float: $fl;
			    	font-size: 12px;
			    	line-height: 40px;
			    	margin-left: 150px;
			    }
		    }
		}
		.right{
			width: 750px;
			float: $fr;
			height: 485px;
			h1{
				font-weight: normal;
			    line-height: 32px;
			    font-size: 24px;
			    padding: 0 0 5px
			}
			.introduce{
				font-size: 14px;
				color:#989898 ;
				height: 50px;
				line-height: 30px;	
			}
			.nowprice{
				border-bottom: #d0d0d0 1px dotted;
				border-top:#d0d0d0 1px dotted;
				height: 71px;
				margin-bottom: 22px;
				.price{
				    line-height: 30px;
    				height: 30px;
    				margin-top:20px;
    				float: $fl;
    				.np{
						font-size: 12px;
						letter-spacing: 24px;
    				}
    				em{
    					font-style: normal;
    					color: #ef4222;
 						font-weight: bold;
 						font-size: 22px;
    				}
    				.num{
    					color: #ef4222;
 						font-weight: bold;
 						font-size: 22px;
    				}
				}
			}
			.color{
				width: 750px;
				height: 40px;
				margin-bottom: 10px;
				.phonecolor{
				    float: left;
				    width: 60px;
				    font-size: 12px;
				    margin-right: 4px;
				}
				.pc{
					width: 420px;
					height: 40px;
					span{
						width: 36px;
						height: 36px;
						display: inline-block;
						background: white;
					    cursor: pointer;
					    color: #999;
					    margin:0 2px;
					   /*  border:solid 1px #ef4222; */
					    img{
					    	width: 34px;
					    	height: 34px;
					    }
					}
					.p1{
						border:solid 1px #ef4222;
					}
				}
			}
			.number{
				width: 750px;
				height: 35px;
				.phonenumber{
					float: left;
				    width: 50px;
				    font-size: 12px;
				    margin-right: 4px;
				    margin-bottom: 10px;
				}
				.allnumber{
					width: 170px;
					height: 42px;
					.add{
						width: 20px;
						height: 20px;
						float: $fl;
						background: url("/images/detail/add.png") no-repeat;
						background-position:center center;  
						background-color: white;
					}
					input{
					    float: left;
					    width: 48px;
					    height: 20px;
					    border: solid 1px #ddd;
					    overflow: hidden;
					    margin-right: 2px;
					    background: #fff;
					    text-align: center;
					    line-height: 22px;
					    margin:0 3px ;
					}
					.subtraction{
						width: 20px;
						height: 20px;
						float: $fl;
						background: url("/images/detail/sub.png") no-repeat;
						background-position:center center;  
						background-color: white;
						margin-left: 12px;
					}
				}
			}
			.present{
			    padding: 10px 20px;
			    background: #fff8d8;
			    line-height: 18px;
			    margin-top: 10px;
			    font-size: 12px;
			    padding-left: 5px;
			}
			.allprice{
				width: 750px;
				height: 80px;
				margin-top: 120px;
				font-size: 12px;
				position: relative;
				.share{
						width: 170px;
						height: 40px;
						position: absolute;
						right:0;
						top:0;
						display: block;
					}
				.c1{
					color: #ef4222;
				}
				.expireshop{
					width: 120px;
					height: 45px;
					background: #00c3f5;
					border: 1px solid #999;
					padding:5px;
					text-align:center;
					line-height: 32px;
					font-size: 17px;
					color:#ccc;
					margin-top: 12px;
					cursor: pointer;
					border:none;
					outline: none;
				}
				.ctn{
					width: 120px;
					height: 45px;
					background: #00c3f5;
					border: 1px solid #999;
					padding:5px;
					text-align:center;
					line-height: 32px;
					font-size: 17px;
					color:#ccc;
					margin-top: 12px;
					cursor: pointer;
					border:none;
					outline: none;
					display: block;
					position: absolute;
					left: 170px;
					top: 16px;
				}
			}
		}
	}
}