@import "component/reset.scss";
@import "component/header.scss";
@import "component/footer.scss";
@import "shuffling.scss";
@import "detail.scss";
@import "shoppingcart.scss";

$fl:left;
$fr:right;
/* starproducts */
#starproducts{
	width: 100%;
	height: 450px;
	.p1{
		width: 1192px;
		height: 123px;
		padding: 40px 0;
		margin:0 auto;
		text-align: center;
		color: #000;
		font-size: 30px;
		letter-spacing: 1px;
	}
	.firstlist{
		width:1192px;
		height: 327px;
		margin:0 auto;
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
/* hotproducts */
#hotproducts{
	width: 100%;
	height: 909px;
	background: #e4e4e4;
	.p2{
		width: 1192px;
		height: 80px;
		padding-top: 50px;
		margin:0 auto;
		text-align: center;
		color: #000;
		font-size: 30px;
		letter-spacing: 1px;
	}
	.p3{
		text-align: right;
	    a{
	    	
			font-size: 15px;
			padding-bottom: 15px;
			display: inline-block;
			color: #000;
			padding-right:78px;
	    }
	}
	.wrap{
		width: 1192px;
		height: 785px;
		margin: 0 auto;
		.leftpicture{
			width: 306px;
			height: 788px;
			float: $fl;
		}
		.right{
			margin-left: 8px;
			height: 785px;
			width: 878px;
			float: $fr;
			.lists{
				width: 100%;
				height: 100%;
				float:$fl;
				li{
					width: 286px;
					height: 390px;
					float: $fl;
					margin-right: 5px;
					margin-bottom: 5px;
					background: white;
					a{
						display: block;
						height: 100%;
						width: 100%;
						.imgs{
							width: 280px;
							height: 290px;
							img{
								width: 130px;
								height: 250px;
								margin-top: 23px;
								margin-left: 90px;							
							}
						}
						.information{
							text-align: center;
							.title{
								font-size: 17px;
								height: 30px;
								color:#0f0e0e ;
							}
							.introduce{
								font-size: 14px;
								color: #9d9d9d;
							}
							.price{
								font-size: 21px;
								color: #fd6908;
								margin-top: 10px;
								span{
									font-size: 16px;
									padding-right:6px;
								}
							}
						}
					}
				}
			}
		}
	}
}
